<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/js/web/backoffice/pelicula/formpelicula.js}" type="text/javascript"></script>

<nav th:replace="layout::menu"></nav>

<div class="card-body">
    <button id="btnagregar" type="button" class="btn btn-primary">Agregar</button>
    <hr />

    <div id="divmensaje"></div>
    <table id="tblpelicula" class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Género</th>
            <th scope="col">Duración</th>
            <th scope="col">Estreno</th>
            <th scope="col">Idioma</th>
            <th scope="col">Disponible</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pelicula : ${listarpeliculas}">
            <td th:text="${pelicula.idpelicula}"></td>
            <td th:text="${pelicula.titulo}"></td>
            <td th:text="${pelicula.descripcion}"></td>
            <td th:text="${pelicula.genero.nom_genero}"></td>
            <td th:text="${pelicula.duracion}"></td>
            <td th:text="${pelicula.estreno}"></td>
            <td th:text="${pelicula.idioma}"></td>
            <td th:text="${pelicula.disponible}"></td>
            <td>
                <button type="button" class="btn btn-primary btnactualizar"
                th:data-pelicod="${pelicula.idpelicula}"
                        th:data-pelititulo="${pelicula.titulo}"
                        th:data-pelidescrip="${pelicula.descripcion}"
                        th:data-peligenero="${pelicula.genero.nom_genero}"
                        th:data-peliduracion="${pelicula.duracion}"
                        th:data-peliestreno="${pelicula.estreno}"
                        th:data-peliidioma="${pelicula.idioma}"
                        th:data-pelidisp="${pelicula.disponible}"
                >Actualizar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>