<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_detalle.css">
    <title>Detalle de Spiderman</title>
    <link rel="icon" href="simbolo.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container">
            <h1>Cine</h1>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Peliculas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="detalle-pelicula">
            <img src="/img/5.jpg" alt="Spiderman" class="imagen-pelicula">
            <div class="info-pelicula">
                <h2>Spiderman</h2>
                <p>Horarios: 12:00, 15:00, 19:00</p>
                <p>Únete a Spiderman en su lucha contra el crimen en la ciudad de Nueva York mientras equilibra su vida como estudiante y superhéroe.</p>
                <p>Director: Jon Watts</p>
                <p>Actores: Tom Holland, Zendaya, Jake Gyllenhaal</p>
                <p>Categoría: Acción, Aventura, Ciencia Ficción</p>
                
                <p class="trailer">Ver tráiler en YouTube: <a href="https://www.youtube.com/watch?v=Nt9L1jCKGnE" target="_blank">Ver en YouTube</a></p>
                <p class="calificacion">Calificación: <span class="calificacion-estrellas">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
                <a href="formulario_compra.html" class="boton-compra">Comprar entradas</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Cine. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>
