<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mis Datos</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/Style.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery/jquery.js}" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/Style.css">
</head>
<nav th:replace="nav::Nav"></nav>
<body class="colorFondo">
<div class="container ">


<main class="bg-light badge d-flex justify-content-center mt-5">

        <div class="d-flex justify-content-center mt-5">
            <div class=" d-flex container text-center m-5">
                <div class="d-flex  align-items-center col align-items-center row">
                    <div class="rounded-circle ">
                        <img height="150em" width="auto" th:src="@{/img/userIcon.png}" src="../static/img/userIcon.png">
                        <p class="fs-2 text-dark-emphasis mt-0">Daniel Olivares</p>
                        <p class="fs-2 text-dark-emphasis mt-0">example@hotmail.com</p>
                    </div>

                </div>
                <div class="col bottomAct line-between-columns">
                    <div class="ml-0 link-left">
                        <a class="btn fw-bold col-12 " role="button" data-bs-toggle="button" href="#">Regresar</a>
                    </div>

                    <p></p>
                    <form class="w-100 m-5" action="" th:object="${usuario}" th:action="@{/registrarForm}" method="post">
                        <div class="col-12  container">
                            <input type="text" th:field="*{idUsuario}" class="form-control form-control-lg   mr-4 d-none" placeholder="Nombres" aria-label="Nombres">
                            <div class="input-group mb-4 ">
                                <input type="text" th:field="*{nombreUsuario}" class="form-control form-control-lg  mr-4" placeholder="Nombres" aria-label="Name">
                                <input type="text" th:field="*{apellidoUsuario}" class="form-control form-control-lg  mr-4" placeholder="Apellidos" aria-label="Surname">
                            </div>
                            <input type="number" th:field="*{dni}" class="form-control form-control-lg  mb-4" placeholder="DNI" aria-label="DNI">
                            <input type="email" th:field="*{correoUsuario}" class="form-control form-control-lg  mb-4" placeholder="Correo Electronico" aria-label="Email">
                            <input type="password"  th:field="*{claveUsuario}" class="form-control form-control-lg  mb-4" placeholder="Contraseña" aria-label="Password">
                            <button class=" ml-0 col-12 btn btn-secondary mb-1  mb-4 p-3 fw-bold fs-5"  type="submit">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>