<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_detalle.css">
    <title>Detalle de Wakanda</title>
    <link rel="icon" href="simbolo.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container">
            <h1>Cine</h1>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Peliculas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="detalle-pelicula">
            <img src="/img/2.jpg" alt="Wakanda" class="imagen-pelicula">
            <div class="info-pelicula">
                <h2>Wakanda</h2>
                <p>Horarios: 16:00, 20:00</p>
                <p>Descubre el reino oculto de Wakanda, una nación africana tecnológicamente avanzada que se enfrenta a desafíos internos y externos.</p>
                <p>Director: Ryan Coogler</p>
                <p>Actores: Chadwick Boseman, Michael B. Jordan, Lupita Nyong'o</p>
                <p>Categoría: Acción, Aventura, Ciencia Ficción</p>
                <p class="trailer">Ver tráiler en YouTube: <a href="https://www.youtube.com/watch?v=xjDjIWPwcPU" target="_blank">Ver en YouTube</a></p>
                <p class="calificacion">Calificación: <span class="calificacion-estrellas">&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
                <a href="formulario_compra.html" class="boton-compra">Comprar entradas</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Cine. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>
