<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_detalle.css">
    <title>Detalle de Garfield</title>
    <link rel="icon" href="simbolo.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container">
            <h1>Cine</h1>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Peliculas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="detalle-pelicula">
            <img src="/img/9.jpg" alt="Garfield" class="imagen-pelicula">
            <div class="info-pelicula">
                <h2>Garfield</h2>
                <p>Horarios: 12:00, 14:30, 17:00</p>
                <p>Garfield, el gato perezoso y glotón, se enfrenta a nuevas aventuras mientras intenta encontrar comida y evitar cualquier tipo de esfuerzo. Junto a su fiel amigo Odie y su dueño Jon, Garfield vive situaciones cómicas y entretenidas.</p>
                <p>Director: Desconocido</p>
                <p>Actores: Desconocidos</p>
                <p>Categoría: Animación, Comedia</p>
                
                <p class="trailer">Ver tráiler en YouTube: <a href="https://www.youtube.com/watch?v=6Ugo7m3xgHU" target="_blank">Enlace al tráiler</a></p>
                <p class="calificacion">Calificación: <span class="calificacion-estrellas">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
                <a href="formulario_compra.html" class="boton-compra">Comprar entradas</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Cine. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>
