<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos_detalle.css"> 
    <title>Detalle de The Batman</title>
    <link rel="icon" href="simbolo.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container">
            <h1>Cine</h1>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Peliculas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="detalle-pelicula">
            <img src="Batman.jpg" alt="The Batman" class="imagen-pelicula">
            <div class="info-pelicula">
                <h2>The Batman</h2>
                <p>Horarios: 13:00, 15:30, 18:00</p>
                <p>En este reinicio del héroe de Ciudad Gótica, Batman se enfrenta a una serie de crímenes perturbadores mientras investiga los secretos oscuros de su ciudad.</p>
                <p>Director: Matt Reeves</p>
                <p>Actores: Robert Pattinson, Zoe Kravitz, Colin Farrell</p>
                <p>Categoría: Acción, Crimen</p>
                
                <p class="trailer">Ver tráiler en YouTube: <a href="https://www.youtube.com/watch?v=fWQrd6cwJ0A" target="_blank">Ver en YouTube</a></p>
                <p class="calificacion">Calificación: <span class="calificacion-estrellas">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
                <a href="formulario_compra.html" class="boton-compra">Comprar entradas</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Cine. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>
