<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Función</title>
</head>
<body>
    <h1>Nueva Función</h1>
    <form action="#" th:action="@{/funcionNuevo}" th:object="${funcion}" method="post">
        <label for="fechaFuncion">Fecha Funcion:</label>
        <input type="text" id="fechaFuncion" th:field="*{fechaFuncion}"/><br/>
        <label for="horaInicio">Hora Inicio:</label>
        <input type="text" id="horaInicio" th:field="*{horaInicio}"/><br/>
        <label for="horaFin">Hora Fin:</label>
        <input type="text" id="horaFin" th:field="*{horaFin}"/><br/>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>